<div id="nav">
	<ul>
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("About", "About", "Home")</li>
		@*<li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>*@
		<li>@Html.ActionLink("Products", "Products", "Home")</li>
		<li>@Html.ActionLink("Stylists", "Stylists", "Home")</li>
		<li>@Html.ActionLink("Services", "Services", "Home")</li>
		<li>@Html.ActionLink("Bookings", "Bookings", "Home")</li>
		<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
	</ul>	
</div>